<% content_for :title, @map.name %>
 
  <% if !@map.desc.empty? %>
    <h4>Description</h4>
    <p><%= @map.desc %></p>
  <% end %>

  <h4>Contains Topics</h4>
  <% if @map.topics.length > 0 %>  
  <ul data-role="listview" data-inset="true" data-filter="true">
    <% @map.topics.each do |t| %>
      <% if t.authorize_to_view(@user) %>
        <li><a href="/topics/<%= t.id %>"><img class="ui-li-icon" src="/assets/<%= t.metacode.icon %>" width="30" /><%= t.name %></a></li>
      <% end %> 
    <% end %>
  </ul>
  <% else %>
  There are no topics yet.
  <% end %>